:root {
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-duration: 250ms;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform var(--animation-duration) var(--timing-function);
}

.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 216px;
  background-image: url(../images/abstract-background-with-red-lines\ 1back_header.jpg);
  position: fixed;
  z-index: 2;
}

.gallery {
  position: relative;
  top: 216px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: -10px;
}

.thumb {
  flex-basis: calc(100% / 4 - 10px);
  margin: 10px;
  text-decoration: none;
  color: inherit;
  // position: relative;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.info-item {
  font-weight: bold;
  color: rgb(255, 153, 0);
}

.info {
  display: flex;
  text-align: center;
}

.photo-card {
  height: 600px;
}

.gallery__img:hover {
  transform: scale(1.03);
}

.parameter {
  font-weight: bolder;
}

.last-message {
  display: inline-block;
  width: 100%;
  text-align: center;
  margin-top: 70px;
}

.search-form > button {
  height: 20;
  border: none;
}

.search-form > input {
  height: 20;
  border: none;
  outline: none;
}

.hidden {
  visibility: hidden;
  display: none;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  left: 47.5%;
  top: 50px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: rgb(125, 118, 118);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

//  ---------------------------------Pagination-----------------------
.pagination__container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 40px;
  margin-bottom: 60px;
  position: relative;
  top: 350px;
}
.pagination {
  display: inline-block;
}

.pagination a {
  width: 40px;
  height: 40px;
  color: black;
  float: left;
  padding: 8px 16px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 26px;
}

.pagination a.active {
  background-color: #ff6b08;
  color: white;
  border-radius: 5px;
}

.pagination a:hover:not(.active) {
  background-color: #ff6b08;
  color: #fff;
  border-radius: 5px;
}

.pagination__arrow {
  width: 40px;
  height: 40px;
  background-color: #f7f7f7;
  border-radius: 5px;
}
.pagination__arrow_prev {
  background-image: url('../images/first-arrow-icon.svg');
  background-repeat: no-repeat;
  background-position: center;
  &.pagination__arrow_prev:hover {
    background-image: url('../images/first-arrow-icon.svg');
    background-repeat: no-repeat;
    background-position: center;
  }
}

.pagination__arrow_next {
  background-image: url('../images/last-arrow-icon.svg');
  background-repeat: no-repeat;
  background-position: center;
  &.pagination__arrow_next:hover {
    background-image: url('../images/last-arrow-icon.svg');
    background-repeat: no-repeat;
    background-position: center;
  }
}
